<div class="container">

  <h1>OFERTA</h1>
  <br>
  <p>

    Oferujemy noclegi w Poznaniu dla 6 osób. Do dyspozycji gości mamy dwa łóżka podwójne ( w tym materac 2×2 m na
    antresoli – wejście po zabytkowych pięknych schodach ) oraz dwa pojedyncze. Aneks kuchenny z lodówką, palnikiem
    indukcyjnym oraz czajnikiem bezprzewodowym umożliwiają przygotowywanie śniadań i kolacji. W szafkach znajdziecie
    niezbędne wyposażenie kuchenne. Nowoczesna łazienka i prysznic z deszczownicą dają komfort ciepłej kąpieli.
    BikeoveSTUDIO to miejsce czyste, ciepłe i słoneczne. A co ważne – bezpiecznie przechowacie również Wasze rowery,
    mamy
    na nie wieszaki wewnątrz budynku. W sezonie od wiosny do jesieni istnieje możliwość grillowania i biesiadowania przy
    zachodzie słońca.
    <br><br>
    Cena 55 zł za osobę za noc, 60 zł za osobę za noc w weekendy ( pt-so ).
    <br><br>
    Opłata za sprzątanie 120 zł.
    Pościel, ręczniki w cenie.
  </p>
  <br>

  <img src="/assets/images/oferta/noclegi_dla_rowerzystow_o01.jpg" class="oferta">
  <img src="/assets/images/oferta/noclegi_dla_rowerzystow_o02.jpg" class="oferta">
  <img src="/assets/images/oferta/noclegi_dla_rowerzystow_o03.jpg" class="oferta">

  <br>
  <img src="/assets/images/oferta/noclegi_dla_rowerzystow_o04.jpg" class="oferta">
  <img src="/assets/images/oferta/noclegi_dla_rowerzystow_o05.jpg" class="oferta">
  <img src="/assets/images/oferta/noclegi_dla_rowerzystow_o06.jpg" class="oferta">

  <br>
  <img src="/assets/images/oferta/noclegi_dla_rowerzystow_o07.jpg" class="oferta">
  <img src="/assets/images/oferta/noclegi_dla_rowerzystow_o08.jpg" class="oferta">
  <img src="/assets/images/oferta/noclegi_dla_rowerzystow_o09.jpg" class="oferta">

  <br>
  <img src="/assets/images/oferta/noclegi_dla_rowerzystow_o10.jpg" class="oferta">
  <img src="/assets/images/oferta/noclegi_dla_rowerzystow_o11.jpg" class="oferta">
  <img src="/assets/images/oferta/noclegi_dla_rowerzystow_o12.jpg" class="oferta">

  <br>

</div>